<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <!---->
    <bean id="coffee"  create-url="tt://coffee/Blendy" mode="create">
        <property name="price" value="12"/>
        <property name="sugar" value="xml sugar"/>
        <property name="milk" ref="xmlOrangeMilk"/>
    </bean>
    <!---->
    <bean id="xmlOrangeMilk"  create-url="tt://milk/xmlSkim" mode="create">
        <property name="price" value="3"/>
    </bean>
</beans>